---
import Layout from "../../layouts/Layout.astro";
import '../../styles/global.css';
---

<Layout title='Lily Ballif - About'>
    <div class="h-svh text-[#ff7e75] bg-red-700 flex flex-col">
        <nav class="flex justify-between p-[1rem] md:p-[1rem] w-svw">
            <ul class="flex gap-[1rem]">
                <li><a href="mailto:lily@ballif.org">Email</a></li>
                <li><a href={'https://www.instagram.com/lily.ballif'} target="_blank">Instagram</a></li>
            </ul>
            <a href="/">Close</a>
        </nav>
        <div class="flex-1 flex items-center justify-center">
            <div class="p-[1rem] md:[20px] leading-tight text-[1.25rem] lg:text-[3rem] lg:w-1/2">
                <p class="text-center"><span class="text-white">Lily Ballif</span>. b. 2000, is a photographer living and working in Provo, Utah. She holds a BA in Interdisciplinary Design from Brigham Young University.</p>
                <p class="text-center pt-[1rem] lg:pt-[3rem]">Select Clients include MF9.World, Standard Edition, Gem Studio, doTerra, the GRIT, Brigham Young University Design Department</p>
            </div>
        </div>
    </div>
</Layout>

<style>
    a {
        color: #ff7e75;
    }
</style>