---
import Layout from "../../layouts/Layout.astro";
import '../../styles/global.css';
---

<Layout title='Lily Ballif - About'>
    <div class="h-svh text-[#DA8080] bg-red-700 flex flex-col overflow-y-hidden">
        <nav class="fixed flex justify-between pt-[10px] md:pt-[20px] p-[20px] w-svw">
            <ul class="flex gap-[1rem]">
                <li><a href="mailto:lily@ballif.org">Email</a></li>
                <li><a href={'https://www.instagram.com/lily.ballif'} target="_blank">Instagram</a></li>
            </ul>
            <button onclick="history.back()" class="text-[#DA8080]">Close</button>
        </nav>
        <div class="flex items-center justify-center h-svh">
            <div class="p-[20px] leading-tight text-[1.25rem] lg:text-[3rem] lg:w-[60svw]">
                <p class="text-center"><span class="text-white">Lily Ballif</span>, b. 2000, is a photographer living and working in Provo, Utah. She holds a BA in Interdisciplinary Design from Brigham Young University.</p>
                <p class="text-center pt-[1rem] lg:pt-[3rem]">Select Clients include MF9.World, Standard Edition, The Gem Studio, doTERRA, the GRIT, Brigham Young University Design Department, Soft Union, Thread Wallets.</p>
            </div>
        </div>
    </div>
</Layout>

<style>
    a {
        color: #DA8080;
    }
</style>