@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jubilee";
  src:
    url("../../public/fonts/OTJubilee-Silver.woff2") format("woff2"),
    url("../../public/fonts/OTJubilee-Silver.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Reset and base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "Jubilee", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

a {
  color: #808080;
  text-decoration: none;
}

.secondary-color {
  color: #1f1f1f;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: inherit;
}
html{
  color: #808080;
}