---
import { loadQuery } from "../../sanity/lib/load-query";
import Navbar from "../../components/Navbar";
import '../../styles/global.css'

export async function getStaticPaths() {
  const query = `*[_type == "projects"] { slug { current } }`;
  const { data } = await loadQuery({ query });
  
  return data.map((project: any) => ({
    params: { slug: project.slug.current },
  }));
}

const { slug } = Astro.params;

const query = `*[_type == "projects" && slug.current == "${slug}"][0]{
  title,
  projectImages[]{
    asset->{
      url
    }
  }
}`;
const { data: project } = await loadQuery({ query });
---

<div class="h-screen overflow-hidden flex flex-col justify-between">
    <div>
        <Navbar client:load />
    </div>
    <div class="pl-[1rem] pb-[1rem]">
        {project.projectImages && (
        <div class="flex overflow-scroll no-scroll-bar">
            {project.projectImages.map((image: any) => (
            <img src={image.asset.url} alt="Project image" class="h-[50vh] pr-[0.5rem]" />
            ))}
        </div>
        )}

        <h1>{project.title}</h1>
    </div>
</div>

<style>
    .no-scroll-bar {
        scrollbar-width: none;
    }
    .no-scroll-bar::-webkit-scrollbar {
        display: none;
    }
</style>