*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #808080;
  font-weight: 400;
  font-size: 1rem;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.webpage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* NAVIGATION BAR */

.navbar {
  height: 45vh;
  padding: 1rem;
  cursor: default;
}

.navbar-nav {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.black-text {
  color: black;
}

/* CARDS */
.cards {
  display: flex;
  overflow: scroll;
  scrollbar-width: none;
  height: 55vh;
}

.card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: max-content;
  padding: 1rem .5rem;
}

.card img {
  height: calc(100% - 24px);
  transition: transform .2s;
}

.card:first-child {
  padding-left: 1rem;
}

.card:last-child {
  padding-right: 1rem;
}

.card img:hover {
  transform: scale(.95);
}


/* DROPDOWN 
.dropdown {
  height: 45vh;
}

.dropdown ul {
  list-style: none;
  padding: 16px;
}

.dropdown a {
  text-decoration: none;
}

.background {
  position: absolute;
  left: 25%;
  top: 20%;
}

.background p {
  font-size: 3rem;
  color: #C8C8C8;
  cursor: default;
  user-select: none;
}

.projects ul {
  padding: 0 16px;
} */

.dropdown {
  position: absolute;
  top: 4rem;
}

.socials {
  padding-top: 1rem;
}

.sub-projects {
  padding-left: 1rem;
}

.background {
  z-index: -1;
  position: absolute;
  width: fit-content;
  
  top: 15%;
  left: 0; 
  right: 0; 
  margin-inline: auto;
}

.background p {
  color: #C8C8C8;
  font-size: 3rem;
}

.projects-ul {
  padding-left: 1rem;
}

/* CAROUSEL */
.carousel-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 40%;
  height: 90%;
  background-color: white;
}

.carousel-images {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-nav {
  background-color: white;
  position: absolute;
  z-index: 1;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.carousel-nav-left, .carousel-nav-right {
  display: flex;
  padding: 1rem;
}

.carousel-nav-left p {
  cursor: default;
  padding: 0 1rem;;
}